header {
    background-color: aquamarine;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3rem solid rgb(124, 117, 107);
}

header nav {
    display: flex;
}

.nav-button {
    border: none;
    background-color: inherit;
    color: antiquewhite;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.8rem;
}

.nav-button:hover {
    cursor: pointer;
    color: rgb(124, 117, 107);
}

.nav-button:disabled {
    cursor: unset;
    color: antiquewhite;
    background-color: rgb(142, 219, 194);
}